<button
  type="button"
  class="btn btn-light volunteer__add-volunteer"
  id="add-volunteer-button"
  (click)="addVolunteer()"
>
  add
</button>
<div class="mt-4">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel
      *ngFor="let volunteer of volunteerList; let index = index; trackBy: trackByFn"
      [id]="'ngb-panel-' + index"
    >
      <ng-template ngbPanelHeader let-opened="opened">
        <div class="d-flex align-items-center justify-content-between volunteer__panel-header">
          <button class="btn btn-lg btn-link p-0 volunteer__panel-toggle-button" ngbPanelToggle>
            {{ volunteer.startDate ? volunteer.startDate : 'from' }} -
            {{ volunteer.endDate ? volunteer.endDate : 'to' }} |
            {{ volunteer.position ? volunteer.position : 'position' }} -
            {{ volunteer.organization ? volunteer.organization : 'organization' }}
          </button>
          <button
            type="button"
            class="btn btn-light"
            [id]="'remove-profile-button-' + index"
            (click)="volunteerList.splice(i, 1)"
          >
            <span class="oi oi-trash"></span>
          </button>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-experience
          [(experience)]="volunteer"
          (experienceChange)="updateVolunteer(volunteer, index)"
        ></app-experience>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
